<!doctype html>
<html>
<head>
	<title>{{name}} - regular.express</title>
</head>
<body>
	<header>
		<h1>{{name}}</h1>
	</header>
	<section>
		<table>
			<tbody>
				<tr>
					<td>env</td>
					<td>{{env}}</td>
				</tr>
				<tr>
					<td>created</td>
					<td>{{created}}</td>
				</tr>
				<tr>
					<td>input</td>
					<td>
						<pre>{{input}}</pre>
					</td>
				</tr>
				<tr>
					<td>output</td>
					<td>
						<pre>{{output}}</pre>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>
